In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
ip_missions = pd.read_csv('/Users/ajiacovic/Documents/GitHub/Satellites_Market_study/data/sc_database_planetary.csv', sep=';')

In [20]:
ip_missions.info()
#This dataset is small but seems to have a few issues: data types(sees commas so things are strings =to_numeric?), missing values,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 66 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   mission                         46 non-null     object
 1   Agency                          43 non-null     object
 2   launch dte                      43 non-null     object
 3   type                            43 non-null     object
 4   Duration [years]                42 non-null     object
 5   target                          43 non-null     object
 6   category                        43 non-null     object
 7   Instr #                         40 non-null     object
 8   Delta V
km/s                    39 non-null     object
 9   e.c.                            43 non-null     float64
 10  Dollar
/EUR                     43 non-null     object
 11  Indus Cost
[MEUR]              36 non-null     object
 12  Launch
[MEUR]                  36 non-null     object
 13  OPS
[EUR]                      36 non-null     object
 14  SCI
[MEUR]                     36 non-null     object
 15  ESTEC
[MEUR]                   36 non-null     object
 16  ESA Cost Risk [MEUR]            36 non-null     object
 17  CaC at current e.c.             43 non-null     object
 18  CaC at e.c.
 [MEUR]             43 non-null     object
 19  B to FAR                        40 non-null     object
 20  Maturity of the
provided info  39 non-null     object
 21  Comments                        42 non-null     object
 22  L                               39 non-null     object
 23  W                               39 non-null     object
 24  H                               38 non-null     object
 25  Max drate
 [kbps]               37 non-null     object
 26  dMax to Earth                   39 non-null     object
 27  Antenna [cm]                    37 non-null     object
 28  Radiators                       37 non-null     object
 29  SA [kg]                         37 non-null     object
 30  SA [m2]                         37 non-null     object
 31  Pmax [W]                        38 non-null     object
 32  dMax to Sun                     39 non-null     object
 33  WET                             35 non-null     object
 34  DRY Mass                        35 non-null     object
 35  AOCS                            37 non-null     object
 36  COMMS                           37 non-null     object
 37  CPROP                           37 non-null     object
 38  EPROP                           37 non-null     object
 39  DHS                             37 non-null     object
 40  PAYLOAD                         38 non-null     object
 41  MECH                            37 non-null     object
 42  POW                             37 non-null     object
 43  STR                             37 non-null     object
 44  SYS                             37 non-null     object
 45  TCS                             37 non-null     object
 46  HARNESS                         37 non-null     object
 47  MARGIN                          37 non-null     object
 48  EPROP.1                         37 non-null     object
 49  CPROP.1                         37 non-null     object
 50  RESID                           37 non-null     object
 51  AOCS.1                          10 non-null     object
 52  COMMS.1                         10 non-null     object
 53  CPROP.2                         10 non-null     object
 54  EPROP.2                         10 non-null     object
 55  DHS.1                           9 non-null      object
 56  PAYLOAD.1                       19 non-null     object
 57  MECH.1                          10 non-null     object
 58  POW.1                           11 non-null     object
 59  STR.1                           36 non-null     object
 60  SYS.1                           14 non-null     object
 61  TCS.1                           10 non-null     object
 62  HARNESS.1                       9 non-null      object
 63  SA kg/m2                        8 non-null      object
 64  volume                          17 non-null     object
 65  Density                         16 non-null     object
dtypes: float64(1), object(65)
memory usage: 63.5+ KB

In [21]:
ip_missions = ip_missions.apply(lambda x: x.str.replace('%', ''), axis=1)

In [22]:
ip_missions = ip_missions.apply(lambda x: x.str.replace(',', '.'), axis=1)
ip_missions

,mission,Agency,launch dte,type,Duration [years],target,category,Instr #,Delta V\nkm/s,e.c.,...,PAYLOAD.1,MECH.1,POW.1,STR.1,SYS.1,TCS.1,HARNESS.1,SA kg/m2,volume,Density
0,AIM,ESA,2025,planetary,2,NEO,RDV,3,1.286,NaN,...,5,0,10,26,0,4,8,17,NaN,NaN
1,AKATSUKI,JAXA,2010,planetary,x,Venus,Orbiter,5,x,NaN,...,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,2.1112,236.8321334
2,BEPI COLOMBO,ESA/JAXA,2019,planetary,8,Mercury,Remote Sensing,11,x,NaN,...,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN
3,CASSINI-HUYENS,NASA,1997,planetary,20,Saturn,x,11,2.04,NaN,...,NaN,NaN,1,x,14,NaN,NaN,NaN,108.8,51.76470588
4,DAWN,NASA,x,planetary,x,Main Belt,RDV,3,11,NaN,...,6,2,28,15,0,6,11,0,3.686556,330.2811621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
ip_missions.columns

Index(['mission', 'Agency', 'launch dte', 'type', 'Duration [years]', 'target',
       'category', 'Instr #', 'Delta V\nkm/s', 'e.c.', 'Dollar\n/EUR',
       'Indus Cost \n[MEUR]', 'Launch \n[MEUR]', 'OPS \n[EUR]', 'SCI \n[MEUR]',
       'ESTEC \n[MEUR]', 'ESA Cost Risk [MEUR]', 'CaC at current e.c.',
       'CaC at e.c.\n [MEUR]', 'B to FAR ', 'Maturity of the \nprovided info',
       'Comments ', 'L', 'W', 'H', 'Max drate\n [kbps]', 'dMax to Earth',
       'Antenna [cm]', 'Radiators', 'SA [kg]', 'SA [m2]', 'Pmax [W]',
       'dMax to Sun', 'WET', 'DRY Mass', 'AOCS', 'COMMS', 'CPROP', 'EPROP',
       'DHS', 'PAYLOAD', 'MECH', 'POW', 'STR', 'SYS', 'TCS', 'HARNESS',
       'MARGIN', 'EPROP.1', 'CPROP.1', 'RESID', 'AOCS.1', 'COMMS.1', 'CPROP.2',
       'EPROP.2', 'DHS.1', 'PAYLOAD.1', 'MECH.1', 'POW.1', 'STR.1', 'SYS.1',
       'TCS.1', 'HARNESS.1', 'SA kg/m2', 'volume', 'Density'],
      dtype='object')

In [24]:
wrong_type_columns = ['Delta V\nkm/s', 'e.c.', 'Dollar\n/EUR',
       'Indus Cost \n[MEUR]', 'Launch \n[MEUR]', 'OPS \n[EUR]', 'SCI \n[MEUR]',
       'ESTEC \n[MEUR]', 'ESA Cost Risk [MEUR]', 'CaC at current e.c.',
       'CaC at e.c.\n [MEUR]', 'B to FAR ', 'Maturity of the \nprovided info',
       'Comments ', 'L', 'W', 'H', 'Max drate\n [kbps]', 'dMax to Earth',
       'Antenna [cm]', 'Radiators', 'SA [kg]', 'SA [m2]', 'Pmax [W]',
       'dMax to Sun', 'WET', 'DRY Mass', 'AOCS', 'COMMS', 'CPROP', 'EPROP',
       'DHS', 'PAYLOAD', 'MECH', 'POW', 'STR', 'SYS', 'TCS', 'HARNESS',
       'MARGIN', 'EPROP.1', 'CPROP.1', 'RESID', 'AOCS.1', 'COMMS.1', 'CPROP.2',
       'EPROP.2', 'DHS.1', 'PAYLOAD.1', 'MECH.1', 'POW.1', 'STR.1', 'SYS.1',
       'TCS.1', 'HARNESS.1', 'SA kg/m2', 'volume', 'Density']
ip_missions[wrong_type_columns] = ip_missions[wrong_type_columns].apply(pd.to_numeric, errors ='coerce')

In [25]:
#When checking the dataset, I also noticed some 'empty row's' let's check them out:

ip_missions.tail(81)#Ok, it looks as is the dataset was missing the last 80 rows, or that they were added when saved 
#This data comes from excel.

,mission,Agency,launch dte,type,Duration [years],target,category,Instr #,Delta V\nkm/s,e.c.,...,PAYLOAD.1,MECH.1,POW.1,STR.1,SYS.1,TCS.1,HARNESS.1,SA kg/m2,volume,Density
42,VEX,ESA,2008,planetary,x,Venus,Orbiter,7,NaN,NaN,...,0.144483,0.0,0.122964,0.215187,0.0,0.115279,0.115279,0.0,4.046,301.679931
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
ip_missions = ip_missions[:-80]

In [27]:
ip_missions.dtypes

mission              object
Agency               object
launch dte           object
type                 object
Duration [years]     object
                     ...
TCS.1               float64
HARNESS.1           float64
SA kg/m2            float64
volume              float64
Density             float64
Length: 66, dtype: object